        @media (max-width:1550px) {
            body {
                max-width: 1200px;
            }
            .preloader {
                min-width: 1200px;
                min-height: 1080px;
            }
            .preloader-5 {
                max-width: 1200px;
            }
            .header {
                max-width: 941px;
                max-height: 201px;
                margin: 61px auto 0 auto;
            }
            .rectangular {
                min-width: 1000px;
            }
            .display-tablet {
                min-width: 905px;
            }
            .display-tablet>h1 {
                margin-left: 20%;
            }
            .display-tablet>p {
                margin-left: 34%;
            }
        }
        
        @media (max-width: 1199px) {
            body {
                max-width: 980px;
            }
            .header {
                max-width: 941px;
                max-height: 201px;
                margin: 61px auto 0 auto;
            }
            .slider_view1 {
                left: 44%;
            }
            #nav-panel {
                opacity: 0;
                pointer-events: none;
                margin-top: 0px;
                z-index: 1000;
            }
            .navigation-blocks .nav-items {
                border: solid 0.5px #d4d4d4;
                color: #707070;
                border-bottom: #58159b solid 6px;
                min-width: 140px;
                min-height: 90px;
                text-align: center;
                transition: 0.5s;
                background-image: linear-gradient(to top, #d7d7d7 0%, #ffffff 100%);
            }
            .map {
                max-width: 1000px;
                margin-left: -10px;
            }
            .rectangular {
                min-width: 900px;
            }
            .display-tablet {
                min-width: 805px;
            }
            .slider {
                min-width: 700px;
            }
            .preloader {
                min-width: 978px;
                min-height: 1080px;
            }
            .preloader-5 {
                max-width: 980px;
            }
        }
        
        @media (max-width:980px) {
            body {
                max-width: 980px;
            }
            .header {
                max-width: 941px;
                max-height: 201px;
                margin: 61px auto 0 auto;
            }
            .preloader {
                min-width: 978px;
                min-height: 1080px;
            }
            .preloader-5 {
                max-width: 480px;
            }
            .map {
                max-width: 900px;
            }
        }
        
        @media (max-width:768px) {
            body {
                max-width: 768px;
            }
        }
        
        @media(max-width:1480px) {
            #nav-panel {
                opacity: 0;
                pointer-events: none;
                margin-top: 0px;
                z-index: 1000;
            }
        }